body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image:url("https://th.bing.com/th/id/R.b0613855485f96f729204afa9037abd4?rik=pPjbBwN7%2b1oq7A&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f80%2f1%2ftYbVQU.jpg&ehk=ST0WExtl0bigvcrQjvZPxT%2f4kAtyB6CNrrhxYD%2fV22c%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
    background-color: #efecec;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:background-color 0.3s ease;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
}